.git
.gocache
.idea
.vscode

**/.DS_Store
**/Thumbs.db

**/node_modules
**/dist
**/build
**/.vite
**/.npm-cache

bin/*
!bin/chess-game-service
!bin/chess-rating-service
*.exe
*.test
coverage.out

.env
.env.local
.env.*.local

storage
data
logs
*.log
*.docx
