REGISTRY_IMAGE=ghcr.io/owner/repository
IMAGE_TAG=latest
APP_ENV=prod

FRONTEND_PORT=3000
GAME_PORT=8080
RATING_PORT=8081

VITE_GAME_SERVICE_URL=http://localhost:8080
VITE_RATING_SERVICE_URL=http://localhost:8081
